/* ajouter un style par défaut à tous les éléments du html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "DM Sans", sans-serif; */
  }

body{
    margin: 0;
}

header{
    text-align: center;
    margin-top: 42px;
}

header img{
    width: 50.48px;
    height: 46.29px;
}

h1{
    color: #D04F4F;
}
input, button{
    border-radius: 5px;
    border: 0;
}

main{
    margin: 17px 100px;
}

.search_bar, .filter_btns{
    display: flex;
    align-items: center;
}

.search_bar input{
    height: 69px;
    width: 100%;
    padding: 8px;
    background: #e7e7e7;
}

.search_icon{
    height: 32px;
    width: 32px;
    margin: -55px;
    font-size: 2rem;
}

.filter_btns{
    margin-top: 20px;
}

.text{
    color: red;
}

.btn_group{
    display: flex;
}
.filter_button {
    width: 170px;
    height: 69px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter_button p, .filter_button i {
    font-size: 22px;
}

/*  grille de recettes */
.recipes_grid {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;
}

.recipe {
    width: 33.33%;
    padding: 1.5rem;
}

.recipe_image {
    background: #999999;
    height: 178px;
    width: 100%;
}

.recipe_info {
    margin: 1rem;
}

.recipe_name_time {
    display: flex;
}

.recipe_name {
    flex: 1 1 0;
}